/*
img[alt$=">"] {
    float: right;
}

img[alt$="<"] {
    float: left;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    float: none !important;
}
*/
.md-grid {
    max-width: initial;
}
/*
:root {
    --md-primary-fg-color: #60102f;
    --md-primary-fg-color--light: rgb(123, 136, 204);
    --md-primary-fg-color--dark: #34091a;
}
*/
/* ******************************************************** */
/* Table 100% Width fix */
/* ******************************************************** */
/*.md-typeset__table {
    min-width: 100%;
}

.md-typeset table:not([class]) {
    display: table;
}*/


/*
 *
 * NUMBERING HEADINGS
 *
 */
body {
    counter-reset : h2;
}

h2 {
    counter-reset : h3;
}

h3 {
    counter-reset : h4;
}

h4 {
    counter-reset : h5;
}

h5 {
    counter-reset : h6;
}

article h2:before {
    content : counter(h2,decimal) ". ";
    counter-increment : h2;
}

article h3:before {
    content : counter(h2,decimal) "." counter(h3,decimal) ". ";
    counter-increment : h3;
}

article h4:before {
    content : counter(h2,decimal) "." counter(h3,decimal) "." counter(h4,decimal) ". ";
    counter-increment : h4;
}

article h5:before {
    content : counter(h2,decimal) "." counter(h3,decimal) "." counter(h4,decimal) "." counter(h5,decimal) ". ";
    counter-increment : h5;
}

article h6:before {
    content : counter(h2,decimal) "." counter(h3,decimal) "." counter(h4,decimal) "." counter(h5,decimal) "." counter(h6,decimal) ". ";
    counter-increment : h6;
}

h2.nocount:before, h3.nocount:before, h4.nocount:before, h5.nocount:before, h6.nocount:before {
    content : "";
    counter-increment : none;
}
